body {
  margin: 0;
  padding: 0;
  background-color: black;

  font-family: "Montserrat", sans-serif;
  color: grey;
}

.header {
  margin: 10px;
  text-align: center;
}

h1 {
  font-size: 2.2em;
}

img {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}

.button {
  margin: 30px;
  text-align: center;
}
