body {
	margin: 0px;
 	background-color: black;
	
	font-family: 'Montserrat', sans-serif;
	color: grey;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	width: 300px;
	height: 250px;
	margin: 10px;
	transition: all 1s;
}

img:hover {
	transform: scale(1.1);
}

.card {
	width: 18rem;
	margin: 15px;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}